<!doctype html>
<html lang="en">
  <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784
/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <title> Sightings List </title>
  </head>

  <body>
    <h1 class="display-4"> Sightings </h1>
    <table class="table table-bordered">
    <a href="{% url "sighting_add" %}" class="btn btn-success">add a new sighting</a>
    <a href="{% url "sighting_stats" %}" class="btn btn-success">Click to see the stats</a>
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="vertical-align: middle; text-align: center; white-space: nowrap;">Squirrel ID(Click to Update)</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Longitude</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Latitude</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Shift</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Date</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Location</th>
        </tr>
        {% for sighting in sightings %}
        <tr>
          <td><a href="/sightings/{{ sighting.squirrel_id }}/" >{{ sighting.squirrel_id }}</a></td>
          <td> {{ sighting.longitude }} </td>
          <td> {{ sighting.latitude }} </td>
          <td> {{ sighting.shift }} </td>
          <td> {{ sighting.date }} </td>
          <td> {{ sighting.location }} </td>
        </tr>
        {% endfor %}
    </table>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossori
gin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fak
FPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5
+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
